<p id="notice"><%= notice %></p>

<p>
  <strong>My junk:</strong>
  <%= @other_stuff.my_junk %>
</p>

<%= link_to 'Edit', edit_other_stuff_path(@other_stuff) %> |
<%= link_to 'Back', other_stuffs_path %>
